{# acl.j2 #}
{%- for acl, rules in acls.items() %}
  {%- for entry in rules %}

set firewall family inet filter {{ acl }} term {{ entry["term_name"] }} from protocol {{ entry["protocol"] }}
set firewall family inet filter {{ acl }} term {{ entry["term_name"] }} from destination-port {{ entry["destination_port"] }}
set firewall family inet filter {{ acl }} term {{ entry["term_name"] }} from destination-address {{ entry["destination_address"] }}
set firewall family inet filter {{ acl }} term {{ entry["term_name"] }} then {{ entry["state"] }}

  {%- endfor %}
{%- endfor %}
